{% extends "base.html" %}

{% block title %}Nueva transacción | Alke Wallet{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-bd-8">
        <div class="card shadow-sm">
            <div class="card-body p-4">
                <h1 class="h4 mb-3">Nueva transacción</h1>

                <form method="post">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button class="btn btn-primary">Aceptar</button>
                    <a href="{% url 'detalle_cliente' id_cliente %}" class="btn btn-outline-secondary">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}