<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
        <title>Crear recorrido</title>
        <style>
            body
            {
                background-color: antiquewhite;
            }
            .container
            {
                background-color: whitesmoke ;
                width: 650px;
                height: auto;
            }
        </style>
    </head>
    <body>
        <div class="container shadow p-4">
            <h1 class="text-center bg-info text-white">Nuevo recorrido</h1>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3 mt-3">
                    <label for="nombre_linea" class="form-label">Nombre de la línea:</label>
                    <input type="text" class="form-control" id="nombre_linea" name="nombre_linea" placeholder="Ingresa nombre">
                </div>

                <div class="mb-3">
                    <label for="origen" class="form-label">Origen:</label>
                    <input type="text" class="form-control" id="origen" name="origen" placeholder="Ingrese origen">
                </div>

                <div class="mb-3">
                    <label for="destino" class="form-label">Destino:</label>
                    <input type="text" class="form-control" id="destino" name="destino" placeholder="Ingrese destino">
                </div>

                <div class="d-flex justify-content-between">
                    <div class="mb-3 bg-primary p-1 rounded">
                        <label for="hora_salida" class="form-label d-block text-center">Hora salida:</label>
                        <input type="time" class="form-control" id="hora_salida" name="hora_salida">
                    </div>

                    <div class="mb-3 bg-primary p-1 rounded">
                        <label for="hora_llegada" class="form-label d-block text-center">Hora llegada:</label>
                        <input type="time" class="form-control" id="hora_llegada" name="hora_llegada">
                    </div>

                    <div class="mb-3 bg-primary p-1 rounded">
                        <label for="frecuencia" class="form-label d-block text-center">Frecuencia:</label>
                        <input type="text" class="form-control" id="frecuencia" name="frecuencia" placeholder="Ingrese frecuencia">
                    </div>

                    <div class="mb-3 bg-primary p-1 rounded">
                        <label for="estado" class="form-label d-block text-center">Estado:</label>
                        <select class="form-select" id="estado" name="estado">
                            <option>Operativo</option>
                            <option>Con retraso</option>
                            <option>Suspendido</option>
                        </select>
                    </div>

                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Crear</button>
                </div>

            </form>

            <div class="text-center mt-3">
                <a href="{% url 'inicio' %}" class="btn btn-primary btn-sm">Volver al inicio</a>
            </div>

        </div>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>